snippet subf "Subfloat environment" b
\subfloat[${2}]{\includegraphics[width=${3:0.5}\linewidth]{${4:name.ext}}}
endsnippet

snippet tco "textcolor" w
\textcolor{$2}{${1:${VISUAL}}}
endsnippet

snippet tbf "textbf" w
\textbf{${1:${VISUAL}}}
endsnippet
